<script>
export default {
  name: 'ComplianceReportsApp',
};
</script>
<template>
  <div id="compliance-framework-report_coming-soon">
    <!-- If you're seeing this instead of the current violations report, disable the "compliance_frameworks_report" feature flag. -->
  </div>
</template>
